@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@900&family=Outfit:wght@300&display=swap");

:root {
  --font-family-main: "Big Shoulder Display", cursive;
  --font-family-secondary: "Outfit", sans-serif;

  --color-accent: #d5966c;
  --color-black: #151515;
  --color-gray: #444444;
  --color-white: #ffffff;
}
